/*CODE COMPLETED*/

/*Comic Series CSS*/
.comicseriesBackground {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(43, 73, 39);
    background-image: linear-gradient(-30deg,
            rgb(113, 195, 101, 0.25) 0%,
            rgb(43, 73, 39) 40%,
            rgb(43, 73, 39) 70%,
            rgb(251, 255, 250, 0.15) 100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.5s;
    overflow: hidden;
    z-index: 500;
}

.comicseriesBackground.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.comicseriesTH {
    top: 0;
    left: 0;
    border-bottom: 2px solid rgb(158, 255, 143, 0.15);
    box-shadow: 0 20px 20px rgb(255, 255, 255, 0.05);
    width: 100%;
    height: 80px;
    background: rgb(92, 122, 87, 0.15);
    backdrop-filter: blur(10px);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    padding-left: 20px;
    box-sizing: border-box;
    z-index: 50;
    transition: 0.5s;
}

.comicseriesTH h1 {
    position: absolute;
    color: white;
    font-size: 40px;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
}

.comicseriesFilterBlur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    backdrop-filter: blur(2px);
    background: transparent;
    z-index: 30;
}

.comicseriesVectors {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 0;
}

.comicseriesVectors img {
    position: absolute;
    width: 100vw;
    height: auto;
    pointer-events: none;
}

.comicVector1 {
    bottom: 0;
    right: 0;
    z-index: 0;
}

.comicVector2 {
    top: 0;
    left: 0;
    z-index: 10;
}

.comicVector3 {
    bottom: 0;
    left: 0;
    z-index: 20;
}

.noiseTexture4 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 700 700' width='700' height='700' opacity='0.1'><defs><filter id='nnnoise-filter' x='-20%' y='-20%' width='140%' height='140%' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'><feTurbulence type='fractalNoise' baseFrequency='0.2' numOctaves='4' seed='15' stitchTiles='stitch' x='0%' y='0%' width='100%' height='100%' result='turbulence'></feTurbulence><feSpecularLighting surfaceScale='11' specularConstant='0.9' specularExponent='20' lighting-color='%23ffffff' x='0%' y='0%' width='100%' height='100%' in='turbulence' result='specularLighting'><feDistantLight azimuth='3' elevation='103'></feDistantLight></feSpecularLighting></filter></defs><rect width='700' height='700' fill='transparent'></rect><rect width='700' height='700' fill='%23ffffff' filter='url(%23nnnoise-filter)'></rect></svg>");
    background-repeat: repeat;
    pointer-events: none;
    z-index: 35;
    transition: 0.5s;
}

.comicseriesTab {
    position: fixed;
    height: 70%;
    max-height: 600px;
    width: 40%;
    max-width: 230px;
    top: 52%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    background: rgb(20, 39, 17, 0.25);
    backdrop-filter: blur(20px);
    border: 2px solid rgb(158, 255, 143, 0.15);
    border-top-left-radius: 20px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow:
        5px 5px 20px rgba(0, 0, 0, 0.25),
        -5px -5px 20px rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 40;
    transition: 0.75s
}

.comicseriesImg {
    border: 1px solid rgb(158, 255, 143, 0.15);
    border-radius: 10px 20px 5px 5px;
    -webkit-user-drag: none;
    user-select: none;
    transition: 0.75s;
}

.comicseriesTab h2 {
    color: white;
    border-bottom: 1px solid rgb(158, 255, 143, 0.1);
    font-size: 24px;
    margin: 0;
    padding: 6px;
    text-align: center;
}

.comicseriesDesc {
    flex: 1;
    min-height: 0;
    width: 100%;
    background: rgb(180, 255, 168, 0.025);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    overflow-y: scroll;
    box-sizing: border-box;
    transition: 0.75s;

    mask-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 10%,
            rgba(0, 0, 0, 1) 90%,
            rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 10%,
            rgba(0, 0, 0, 1) 90%,
            rgba(0, 0, 0, 0) 100%);
}

.comicseriesDesc::-webkit-scrollbar {
    width: 6px;
}

.comicseriesDesc::-webkit-scrollbar-thumb {
    background: rgba(158, 255, 143, 0.15);
    border-radius: 8px;
}

.comicseriesDesc::-webkit-scrollbar-thumb:hover {
    background: rgba(158, 255, 143, 0.3);
}

.comicseriesDesc p {
    color: white;
    width: 100%;
    font-size: 14px;
    margin: 0;
    text-align: left;
    line-height: 1.5;
}

.comicseriesLinks {
    height: 46px;
    padding-top: 6px;
    gap: 10px;
}

.comicseriesLinks a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    gap: 6px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px;
    background: rgba(52, 88, 46, 0.1);
    border: 1px solid rgb(158, 255, 143, 0);
    border-radius: 8px 8px 0 16px;
    box-shadow:
        2px 2px 8px rgba(0, 0, 0, 0.25),
        -2px -2px 8px rgba(255, 255, 255, 0.25);
    transition: all 0.75s ease;
}

.comicseriesLinks i {
    position: absolute;
    left: 12px;
    font-size: 24px;
}

.comicseriesLinks a:hover {
    color: rgb(203, 255, 199);
    background: rgba(52, 88, 46, 0.25);
    border: 1px solid rgb(158, 255, 143, 0.25);
    box-shadow:
        0 0 20px rgb(167, 255, 153);
    transform: scale(1.025);
}

.comicseriesTab:hover {
    transform: translate(-50%, -50%) scale(1.05);
    background: rgb(66, 120, 58, 0.35);
    border: 2px solid rgb(158, 255, 143, 0.35);
    border-radius: 20px;
    box-shadow:
        0 0 30px rgba(158, 255, 143, 0.35);
    transition: 0.25s;
}

.comicseriesTab:hover .comicseriesImg {
    border-radius: 10px 10px 5px 5px;
    transition: 0.25s;
}

.comicseriesTab:hover .comicseriesLinks a {
    border-radius: 8px 8px 10px 10px;
    transition: 0.25s;
}

/*Comic Series Open*/