/*CODE COMPLETED*/

/*Home CSS*/
body,
html {
    margin: 0;
    padding: 0;
    background-color: #252525;
    background-image:
        linear-gradient(-30deg,
            rgba(255, 220, 131, 0.25) 0%,
            rgba(37, 37, 37, 0.9) 40%,
            rgba(37, 37, 37, 0.9) 70%,
            rgba(255, 255, 255, 0.1) 100%),
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 700 700' width='700' height='700' opacity='0.2'><defs><filter id='nnnoise-filter' x='-20%' y='-20%' width='140%' height='140%' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'><feTurbulence type='fractalNoise' baseFrequency='0.2' numOctaves='4' seed='15' stitchTiles='stitch' x='0%' y='0%' width='100%' height='100%' result='turbulence'></feTurbulence><feSpecularLighting surfaceScale='11' specularConstant='0.9' specularExponent='20' lighting-color='%23ffffff' x='0%' y='0%' width='100%' height='100%' in='turbulence' result='specularLighting'><feDistantLight azimuth='3' elevation='103'></feDistantLight></feSpecularLighting></filter></defs><rect width='700' height='700' fill='transparent'></rect><rect width='700' height='700' fill='%23ffffff' filter='url(%23nnnoise-filter)'></rect></svg>");
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Inter", sans-serif;
    user-select: none;
    overflow-x: hidden;
}

/*Flexbox for Homepage*/
.flexbox {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

/*Top Head*/
.tophead {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 2;
}

/*EnriquezInk Title*/
.title {
    color: #FFFFFF;
    font-weight: bold;
    font-size: clamp(30px, 4vw, 40px);
    background: rgba(0, 0, 0, 0.05);
    border: solid 1px rgba(255, 241, 195, 0.15);
    backdrop-filter: blur(10px);
    box-shadow:
        0 0 18px rgba(255, 241, 195, 0.1);
    border-radius: 8px;
    text-decoration: none;
    margin: 0 10px 0 20px;
    padding: 10px;
    cursor: default;
    transition: 0.75s;
}

.title:hover {
    color: #FFF4DB;
    background: rgba(255, 255, 255, 0.05);
    text-shadow:
        -4px -4px 8px rgba(255, 255, 255, 0.25),
        8px 8px 8px rgba(0, 0, 0, 0.25);
    box-shadow:
        0 0 18px rgba(255, 241, 195, 0.35);
    transition: 0.25s;
}

/*Navigation*/
.navbar {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    gap: 8px;
    margin: 0 20px 0 10px;
}

.nav-item a {
    display: inline-block;
    color: #FFFFFF;
    padding: 8px;
    background: rgba(0, 0, 0, 0.05);
    border: solid 1px rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    text-decoration: none;
    font-size: clamp(22px, 2.5vw, 25px);
    font-weight: bold;
    transition: 0.75s;
}

.nav-item a:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: #FFF4DB;
    box-shadow:
        2px 2px 8px rgba(255, 220, 131, 0.15),
        -2px -2px 8px rgba(255, 255, 255, 0.15);
    border: solid 1px rgba(255, 241, 195, 0.15);
    backdrop-filter: blur(10px);
    transform: scale(1.05);
    transition: 0.25s;
}

/*Home Button*/
.homebuttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-top: 10px;
    flex: 1;
    gap: 25px;
    z-index: 1;
}

.homebuttons a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: clamp(150px, 60vw, 1000px);
    height: clamp(70px, 14vh, 100px);
    backdrop-filter: blur(10px);
    font-size: 30px;
    font-weight: bold;
    background: rgba(48, 48, 48, 0.5);
    box-shadow:
        10px 10px 20px rgba(0, 0, 0, 0.6),
        -5px -5px 20px rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    transition: 0.75s;
    z-index: 1;
}

.homebuttons a:hover {
    transform: scale(1.05);
    border-radius: 15px;
    transition: 0.25s;
}

/*My Art*/
.myart {
    color: #508EFF;
    outline: solid 2px #508EFF;
    transition: 0.75s;
}

.myart:hover {
    color: #FFFFFF;
    outline: solid 2px #FFFFFF;
    background: #508EFF;
    box-shadow: 0 0 40px #508EFF;
    transition: 0.25s;
}

/*Commission Art*/
.commissionart {
    color: #FFFFFF;
    outline: solid 2px #FFFFFF;
    transition: 0.75s;
}

.commissionart:hover {
    color: #000000;
    outline: solid 2px #000000;
    background: #FFFFFF;
    box-shadow: 0 0 40px #FFFFFF;
    transition: 0.25s;
}

/*Character Design*/
.characterdesign {
    color: #FFDC83;
    outline: solid 2px #FFDC83;
    transition: 0.75s;
}

.characterdesign:hover {
    color: #FFFFFF;
    outline: solid 2px #FFFFFF;
    background: #FFDC83;
    box-shadow: 0 0 40px #FFDC83;
    transition: 0.25s;
}

/*Comic Series*/
.comicseries {
    color: #68FF50;
    outline: solid 2px #68FF50;
    transition: 0.75s;
}

.comicseries:hover {
    color: #FFFFFF;
    outline: solid 2px #FFFFFF;
    background: #68FF50;
    box-shadow: 0 0 40px #68FF50;
    transition: 0.25s;
}

/*Links Bottom Bar*/
.links {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    border-top: solid 1px rgba(255, 255, 255, 0);
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;
    z-index: 2;
    transition: 0.5s;
}

.links:hover {
    background-color: rgba(0, 0, 0, 0.15);
    border-top: solid 1px rgba(255, 255, 255, 0.05);
    transition: 0.25s;
}

.links:hover a {
    opacity: 1;
}

.links a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    flex: 0 0 auto;
    border: solid 1px rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    background: rgba(20, 20, 20, 0.25);
    backdrop-filter: blur(10px);
    width: 100px;
    height: 60px;
    transition: 0.75s;
    opacity: 0.25;
}

.text-label {
    display: none;
}

.links i {
    font-size: 26px;
    display: block;
}

.links a:hover {
    border: solid 1px white;
    transition: 0.25s;
}

.links::-webkit-scrollbar {
    height: 4px;
}

.links::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.25);
}

.links::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.15);
}

.links::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.25);
}

/*X/Twitter*/
.links a[href*="x.com"] {
    color: #FFFFFF;
}

.links a[href*="x.com"]:hover {
    background-color: #000000;
    box-shadow: 0 0 30px #FFFFFF;
    color: #FFF;
}

/*Discord*/
.links a[href*="discord"] {
    color: #5865F2;
}

.links a[href*="discord"]:hover {
    background-color: #5865F2;
    box-shadow: 0 0 30px #5865F2;
    color: #FFF;
}

/*Instagram*/
.links a[href*="instagram"] {
    color: #C13584;
}

.links a[href*="instagram"]:hover {
    background-color: #C13584;
    box-shadow: 0 0 30px #C13584;
    color: #FFF;
}

/*Pinterest*/
.links a[href*="pinterest"] {
    color: #BD081C;
}

.links a[href*="pinterest"]:hover {
    background-color: #BD081C;
    box-shadow: 0 0 30px #BD081C;
    color: #FFF;
}

/*Webtoon*/
.links a[href*="webtoons"] {
    color: #00DC64;
}

.links a[href*="webtoons"]:hover {
    background-color: #00DC64;
    box-shadow: 0 0 30px #00DC64;
    color: #FFF;
}

/*Ko-fi*/
.links a[href*="ko-fi"] {
    color: #FF6433;
}

.links a[href*="ko-fi"]:hover {
    background-color: #FF6433;
    box-shadow: 0 0 30px #FF6433;
    color: #FFF;
}

/*Linktree*/
.links a[href*="linktr.ee"] {
    color: #138E3E;
}

.links a[href*="linktr.ee"]:hover {
    background-color: #138E3E;
    box-shadow: 0 0 30px #138E3E;
    color: #FFF;
}

/*Footer*/
.footer {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-top: solid 1px rgba(255, 255, 255, 0.05);
    z-index: 3;
    transition: 0.75s;
}

.footer:hover {
    background-color: rgba(0, 0, 0, 0.15);
    transition: 0.25s;
}

/*Version Label*/
.version-label {
    font-size: 14px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.1);
    background-color: rgba(37, 37, 37, 0);
    border: solid 1px rgba(255, 255, 255, 0);
    border-radius: 8px;
    box-shadow:
        2px 2px 8px rgba(255, 220, 131, 0),
        -2px -2px 8px rgba(255, 255, 255, 0);
    margin: 0 10px 0 20px;
    cursor: default;
    transition: 0.75s;
}

.version-label:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: #FFFFFF;
    backdrop-filter: blur(10px);
    border: solid 1px rgba(255, 255, 255, 0.15);
    box-shadow:
        2px 2px 8px rgba(255, 220, 131, 0.15),
        -2px -2px 8px rgba(255, 255, 255, 0.15);
    transform: scale(1.05);
    transition: 0.25s;
}

/*© 2026 EthanEnriquez*/
.copyright-text {
    font-size: 14px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.1);
    background-color: rgba(37, 37, 37, 0);
    border: solid 1px rgba(255, 255, 255, 0);
    border-radius: 8px;
    box-shadow:
        2px 2px 8px rgba(255, 220, 131, 0),
        -2px -2px 8px rgba(255, 255, 255, 0);
    margin: 0 20px 0 10px;
    cursor: default;
    transition: 0.75s;
}

.copyright-text:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: #FFFFFF;
    backdrop-filter: blur(10px);
    border: solid 1px rgba(255, 255, 255, 0.15);
    box-shadow:
        2px 2px 8px rgba(255, 220, 131, 0.15),
        -2px -2px 8px rgba(255, 255, 255, 0.15);
    transform: scale(1.05);
    transition: 0.25s;
}